{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "google"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "linebreak-style": "off",
    "require-jsdoc": "off",
    "object-curly-spacing": "off"
  },
  "ignorePatterns": [
    "webpack.config.js",
    "tsconfig.ts",
    "postcss.config.js"
  ]
}
